body.worksafe-hidden img, body.worksafe-hidden .image_cover, body.worksafe-hidden .article_snippet__image, body.worksafe-hidden video {
    opacity: 0.3;
    filter: blur(30px);
    transition: all linear 0.5s;
}

body.worksafe-hidden, body.worksafe-hidden img:hover, body.worksafe-hidden .image_cover:hover, body.worksafe-hidden .article_snippet__image:hover, body.worksafe-hidden video:hover {
    opacity: initial;
    filter: initial;
}