.worksafe-hidden img,
.worksafe-hidden .image_cover,
.worksafe-hidden .article_snippet__image,
.worksafe-hidden video {
    opacity: 0.3;
    filter: blur(30px);
    transition: all linear 0.5s;
}

.worksafe-hidden img:hover,
.worksafe-hidden .image_cover:hover,
.worksafe-hidden .article_snippet__image:hover,
.worksafe-hidden video:hover {
    opacity: initial;
    filter: initial;
}