body {
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin: 0px;
    padding: 5px;
    border-color: #6E7B91;
    user-select: none;
}

button {
    outline: none;
    border: 1px solid;
    border-color: #6E7B91;
    background-color: white;
    color: #6E7B91;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    transition: all linear 0.1s;
    cursor: pointer;
    margin: 5px 0px 0px 0px;
}

button#bigRedButton {
    margin: 0px;
}

button:hover,
button.active {
    background-color: #6E7B91;
    color: white;
}

button#importDomainsButton:hover:before,
button#exportDomainsButton:hover:before {
    width: 64px;
    height: 64px;
    background-position: center;
    background-size: cover;
    content: "";
    padding: 8px 16px 8px 18px;
    margin-right: 3px;
}

button#importDomainsButton:hover:before {
    background-image: url('./icons/import.png');
}

button#exportDomainsButton:hover:before {
    background-image: url('./icons/export.png');
}

button#bigRedButton:hover,
button#bigRedButton.active {
    background-color: #FF1111;
    border-color: #FF1111;
    font-weight: bolder;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 5px 0px 0px 0px;
}

ul>li {
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #6E7B91;
    font-weight: bolder;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all linear 0.1s;
}

ul>li:hover {
    background-color: #f5f5f5;
}

ul>li>input {
    padding: 3px;
    border: none;
    background: transparent;
    outline: none;
}

ul>li>.remove-button {
    cursor: pointer;
    font-size: 14pt;
    transition: all linear 0.1s;
}

ul>li>.remove-button:hover {
    color: #FF1111;
}